body {
  margin: 0;
  padding: 0;
}

.gallery {
  margin: 20px;
}

.gallery-title {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.gallery-content {
  display: none;
}

.gallery-item {
  margin: 10px;
  width: 200px; /* Ajusta el tamaño de acuerdo a tus necesidades */
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
